<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cq.gmall.manage.mapper.PmsBaseAttrInfoMapper">
    <!-- SQL语句 -->
    <select id="selectAttrValueListByValueId" resultMap="selectAttrValueListByValueIdMap">
       SELECT
            pi.*,pi.id as pi_id,pv.* ,pv.id as pv_id
        FROM
            pms_base_attr_info pi,
            pms_base_attr_value pv
        WHERE
            pi.id = pv.attr_id
        AND pv.id IN (${valueIdStr})
    </select>

    <resultMap id="selectAttrValueListByValueIdMap" type="com.cq.gmall.bean.PmsBaseAttrInfo" autoMapping="true">
        <result column="pi_id" property="id"></result>
        <collection property="attrValueList" ofType="com.cq.gmall.bean.PmsBaseAttrValue" autoMapping="true">
            <result column="pv_id" property="id"></result>
        </collection>
    </resultMap>
</mapper>